*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}

body{
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100dvh; */
  background-image: url('./backg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

button{
  cursor: pointer;
}

#root{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}
.container{
  width:clamp(350px, 100%, 800px);
  /* height: 100%; */
  min-height: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.338);
  border: 1px solid rgb(176, 176, 176);
  border-radius: 10px;
  box-shadow: 0px 0px 14px 10px #c7c7c766;




}

.inputwrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.container input{

  height: 60px;
  padding: 20px;
  width: clamp(300px, 50%, 300px);
  border-radius: 5px;
  /* border: 0.10em solid red; */
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: #eaeaea;
}
.container input:focus{
outline: none;
background-color: white;
border: 0.04em solid black;
}
.container input:active{
outline: none;
background-color: white;
border: 0.04em solid black;
}
.container input:hover{
outline: none;
background-color: white;
border: 0.04em solid black;
}

.container button{

  height: 57px;
  /* padding: 20px; */
  width: clamp(300px, 50%, 300px);
  border-radius: 5px;
  border: 0.10em solid transparent;
  font-size: 1.3rem;
  font-weight: 800;
  letter-spacing: 0.9px;
  border-radius:  20px 20px 20px 0px;
  color: white;
  background-color: #d7525b;
  /* box-shadow: 0px 0px 14px -3px #d7525b; */

}



.container button:hover{
  background-color: #b9474f;
}
.container button:active{
  background-color: #b9474f;
}

.errormsg{
  background-color: white;
  font-size: 20px;
  color: #d7525b;
  border-radius: 0px 20px 20px 20px;
  border: 0.10em solid #b9474f;
  padding: 10px;
  width: clamp(300px, 50%, 300px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}


.messagescontainer{
  /* max-height: 800px; */
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.messagescontainer .messages{
  /* max-height: 800px; */
    background-color: white;

  font-size: 20px ;
  color: #d7525b;
  border-radius: 0px 20px 20px 20px;
  border: 0.1em solid #b9474f;
  padding: 15px;
  width: clamp(300px, 60%, 400px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}
.messagesWrapper button{
 width: clamp(300px, 50%, 400px) !important;
 height: 50px;
}


.messagesWrapper{
  width: 100%;
  flex-direction: column;
    display: flex
;
    justify-content: center;
    gap: 20px;
    align-items: center;
    /* overflow: scroll; */
}


.Gamecontainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.Gamecontainer button:nth-of-type(2){
  border-radius: 20px 0px 20px 20px;
}

.again{
  font-size: 20px;
  color: #b9474f;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  font-weight: 500;
  width: 50%;
  text-align: center;
}


.Question{
  font-size: 17px;
  color: #b9474f;
  font-weight: 700;
  animation: scale 1s linear infinite;
}


@keyframes scale {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}




/* .message {
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 1;
} */

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.fade-out {
  opacity: 1;
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
  from {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}


.last{
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.last p{
      width: 70%;
    font-size: 2.1rem;
    text-align: center;
    /* align-self: center; */
    margin-top: 1rem;
    word-break: break-word;
}
